version: 2.1
jobs:
  build:
   docker:
      - image: ubuntu:18.04
   environment:
      VERSION: '3.18'
   steps:
      - run:
          command: |
           echo -e "machine github.com\n  login $GITHUB_TOKEN" > ~/.netrc
           apt-get -y update && apt-get -y upgrade && apt-get -y install bc bison build-essential curl flex g++-multilib gcc gcc-multilib clang git gnupg gperf imagemagick lib32ncurses5-dev lib32readline-dev lib32z1-dev liblz4-tool libncurses5-dev libsdl1.2-dev libwxgtk3.0-dev libxml2 libxml2-utils lzop pngcrush schedtool squashfs-tools xsltproc zip zlib1g-dev unzip openjdk-8-jdk python ccache libtinfo5 repo libstdc++6 wget libssl-dev rsync golang-go
           mkdir -p ~/bin
           curl https://storage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
           chmod a+x ~/bin/repo
           go get -u github.com/tcnksm/ghr
           export PATH=/root/go/bin:$PATH
           git clone https://github.com/raza231198/q_kernel_zb555kl -b 1 kernel
           cd kernel
           wget -q https://raw.githubusercontent.com/raza231198/circleci_kernel/main/build.sh
           source build.sh
workflows:
  version: 2.1
  cooking:
    jobs:
      - build:
          context: raza
